body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:53px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:53px;
}
#u164 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  position:absolute;
  left:129px;
  top:21px;
  width:87px;
  height:22px;
}
#u166 {
  position:absolute;
  left:2px;
  top:3px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u167 {
  position:absolute;
  left:142px;
  top:25px;
  width:57px;
  height:14px;
  color:#FFFFFF;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:431px;
}
#u169 {
  position:absolute;
  left:0px;
  top:53px;
  width:340px;
  height:430px;
}
#u170 {
  position:absolute;
  left:2px;
  top:207px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:552px;
}
#u171 {
  position:absolute;
  left:0px;
  top:52px;
  width:340px;
  height:552px;
}
#u172 {
  position:absolute;
  left:2px;
  top:268px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:6px;
  top:21px;
  width:51px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
