body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275 {
  position:absolute;
  left:0px;
  top:52px;
  width:340px;
  height:552px;
}
#u276 {
  position:absolute;
  left:2px;
  top:268px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:53px;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:53px;
}
#u278 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(28, 27, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  position:absolute;
  left:129px;
  top:21px;
  width:87px;
  height:22px;
}
#u280 {
  position:absolute;
  left:2px;
  top:3px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u281 {
  position:absolute;
  left:142px;
  top:25px;
  width:57px;
  height:14px;
  color:#FFFFFF;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:431px;
}
#u283 {
  position:absolute;
  left:0px;
  top:53px;
  width:340px;
  height:430px;
}
#u284 {
  position:absolute;
  left:2px;
  top:207px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:552px;
}
#u285 {
  position:absolute;
  left:0px;
  top:52px;
  width:340px;
  height:552px;
}
#u286 {
  position:absolute;
  left:2px;
  top:268px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:6px;
  top:21px;
  width:51px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
